#login {
	background-color: white;
	position: absolute;
	}

.shade {
	background-color: black;
	height: 100%;
	width: 100$;
	}

#rightpanel {
	margin: 0 auto;
	width: 650px;
	float: right;
	}

fieldset {
	width: 450px;
	}

#leftpanel {
	position: relative;
	}


